/*
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/monterrat/montserrat-light.eot');
    src: url('../fonts/monterrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/monterrat/montserrat-light.woff2') format('woff2'),
        url('../fonts/monterrat/montserrat-light.woff') format('woff'),
        url('../fonts/monterrat/montserrat.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-bold.eot');
    src: url('../fonts/raleway/raleway-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-bold.woff2') format('woff2'),
        url('../fonts/raleway/raleway-bold.woff') format('woff'),
        url('../fonts/raleway/raleway-bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-extrabold.eot');
    src: url('../fonts/raleway/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-extrabold.woff2') format('woff2'),
        url('../fonts/raleway/raleway-extrabold.woff') format('woff'),
        url('../fonts/raleway/raleway-extrablod.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-medium.eot');
    src: url('../fonts/raleway/raleway-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-medium.woff2') format('woff2'),
        url('../fonts/raleway/raleway-medium.woff') format('woff'),
        url('../fonts/raleway/raleway-medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-regular.eot');
    src: url('../fonts/raleway/raleway-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-regular.woff2') format('woff2'),
        url('../fonts/raleway/raleway-regular.woff') format('woff'),
        url('../fonts/raleway/raleway-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-semibold.eot');
    src: url('../fonts/raleway/raleway-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-semibold.woff2') format('woff2'),
        url('../fonts/raleway/raleway-semibold.woff') format('woff'),
        url('../fonts/raleway/raleway-semibold.ttf');
    font-weight: 600;
    font-style: normal;
}
*/

body {
    max-width: 1920px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* header styles */

.header {
    width: 100%;
    min-height: 1024px;
    background-image: url(../img/bg_photo_11949.jpg);
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 55px 0 0 0;
    position: relative;
}

.header__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__logo__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 179px;
    text-decoration: none;
    color: #fff;
    margin-left: 376px;
}

.header__logo__svg {
    fill: currentColor;
}

.header__logo__link:hover {
    color: #c7b299;
}

.header__logo__txt {
    display: block;
    margin-top: 11px;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    text-align: right;
}

.header__main__menu {
    /*    width: 637px;*/
    display: flex;
    justify-content: space-around;


}


.header__main__menu__item {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    /*    border: 3px solid black;*/
    padding: 20px 10px 10px 10px;

}

.header__main__menu__item:hover {
    color: #c7b299;
}

.header__slider__content {
    display: flex;
    justify-content: space-around;
}

.header__slider__linkleft {}

.header__slider__linkright {}

.header__slider {
    max-width: 590px;
    margin: 285px 0 0 0;
    text-align: center;

}

.header__slider__title {
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}

.header__slider__subtitle {
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
}

.header__slider__text {
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    word-break: break-all;
    padding: 19px 13px 0 14px;
}


.header__slider__button {
    margin-top: 52px;
    width: 170px;
    height: 53px;
    background-color: #998675;
    border-radius: 3.0px;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
}

.header__slider__button:hover {
    color: #998675;
    background-color: #ffffff;
}

.pagination {
    width: 87px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 1000px;
    left: 920px;
    
}

.pagination__link {
    display: block;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: gray;
/*    background-image: url(../img/pagination.svg);*/
/*    background-repeat: no-repeat;*/
    border-radius: 50%;
    border: 2.0px solid transparent;
}

.pagination__link:hover {
    width: 11px;
    height: 11px;
    border: 2.0px solid #d3c1ad;
    opacity: 0.1
}

/* вторая секция about */

.about {
    width: 100%;
    background-color: #ffffff;
    padding: 80px 0 0 0;
}

.about__container {
    display: flex;
    justify-content: center;
    min-height: 373px;
}

.about__container__section {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 30px 0 30px;
}

.about__container__section:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

.about__container__section:hover:after {
    background-color: #c7b299;
}

.about__container__section:hover .about__container__section__svg {
    fill: brown;
}

.about__container__section:hover .about__container__section__title {
    color: #c7b299;
}

.about__container__section__svg {
    display: block;
    width: 49px;
    height: 49px;
    fill: gray;
}

.about__container__section__title {
    display: block;
    width: 100%;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;

}

.about__container__section__text {
    display: block;
    width: 100%;
    word-break: break-all;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
}

.about__realization {
    background-color: #fbfaf8;
    padding: 82px 0 0 0;
    min-height: 638px;
}

.about__realization__section {}

.about__realization__section__title {
    font-family: 'raleway', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
    display: block;
    margin: 0 0 24px 0;
}

.about__realization__section__text {
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8c8c;
    display: block;
    width: 737px;
    text-align: center;
    margin: 0 0 40px 583px;
}

.about__realization__wrp {
    width: 100%;
    background-color: #fbfaf8;
    display: flex;
    justify-content: center;
    position: relative;
}

.about__realization__wrp__img:first-child {
    position: absolute;
    top: 0;
    left: 575px;
    z-index: 3;
}

.about__realization__wrp__img:nth-child(2) {
    position: absolute;
    top: 82px;
    left: 346px;
    z-index: 2;
}

.about__realization__wrp__img:nth-child(3) {
    position: absolute;
    top: 82px;
    left: 806px;
    z-index: 1;
}

.about__footer {
    width: 100%;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-around;
    padding: 48px 0 0 0;
}

.about__footer_content {
    max-width: 550px;
}

.about__footer__title {
    /* Text styles for "Waxom" */
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #c7b299;
}

.about__footer__subtitle {
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.about__footer__text {
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}

.about__footer__btn {
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 3.0px;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

/* секция Projects */
.projects {
    padding: 80px 350px 80px 350px;
    display: flex;
    flex-direction: column;

}

.projects__title {
    text-align: center;
    display: block;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;

}

.projects__text {
    display: block;
    text-align: center;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 24px 0 40px 0;
}

.projects__link {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects__link__item {
    text-align: center;
    min-width: 70px;
    display: block;
    border: 1.0px solid #ebebeb;
    border-radius: 3.0px;
    text-decoration: none;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    text-transform: capitalize;
    padding: 8px 15px 8px 15px;
}

.projects__link__item:hover {
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #ffffff;
    background-color: #998675;
    border-radius: 3.0px;
}

.projects__content {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.projects__content__item {
    max-width: 370px;
    margin: 15px;
    position: relative;
}

.projects__content__item:hover .projects__content__item__subtitle {
    color: #c7b299;
}

.projects__content__item:hover .projects__content__item__title {
    color: #ffffff;
}

.projects__content__item:hover .projects__content__item__btn__link {
    display: block;
}

.projects__content__item:hover .projects__content__item__btn__search {
    display: block;
}

.projects__content__item:hover .projects__content__item__btn__link:hover {
    filter: brightness(70%)
}

.projects__content__item:hover .projects__content__item__btn__search:hover {
    filter: brightness(50%)
}

.projects__content__item:hover .projects__content__item__img {
    filter: brightness(20%);
}

.projects__content__item:hover .projects__content__item__wrp {
    background-color: #362f2d;
}

.projects__content__item:hover .projects__content__item__wrp:before {
    border-bottom: 10px solid #362f2d;
}

/*
.projects__content__item:hover .projects__content__item__btn{
    display: block;
}
*/
.projects__content__item__img {
    display: block;
    /* а то расстояние межде тексктовым блоком и картинкой */
}

.projects__content__item__wrp {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fbfaf8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 0 27px 28px;
}

.projects__content__item__wrp:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 20px;
    border: 20px solid transparent;
    border-bottom: 10px solid #fbfaf8;
}

.projects__content__item__title {
    display: block;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 20px;
    line-height: 14px;
    font-weight: 500;
    color: #c7b299;
    margin: 0 0 10px 0;
}

.projects__content__item__subtitle {
    display: block;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 10px;
    font-weight: 300;
    color: #d1d1d1;
}

.projects__content__item__btn__link,
.projects__content__item__btn__search {
    display: none;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 45%
}

.projects__content__item__btn__link {
    background-image: url('../img/link_1.svg');
    width: 26px;
    height: 26px;
    left: 35%;

}

.projects__content__item__btn__search {
    background-image: url('../img/search_1.svg');
    width: 26px;
    height: 26px;
    right: 35%;
}
