@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-light.eot');
    src: url('../fonts/montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/montserrat-light.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-light.woff') format('woff'),
        url('../fonts/montserrat/montserrat-light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-extralight.eot');
    src: url('../fonts/montserrat/montserrat-extralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/montserrat-extralight.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-extralight.woff') format('woff'),
        url('../fonts/montserrat/montserrat-extralight.ttf');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-bold.eot');
    src: url('../fonts/raleway/raleway-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-bold.woff2') format('woff2'),
        url('../fonts/raleway/raleway-bold.woff') format('woff'),
        url('../fonts/raleway/raleway-bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-extrabold.eot');
    src: url('../fonts/raleway/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-extrabold.woff2') format('woff2'),
        url('../fonts/raleway/raleway-extrabold.woff') format('woff'),
        url('../fonts/raleway/raleway-extrablod.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-medium.eot');
    src: url('../fonts/raleway/raleway-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-medium.woff2') format('woff2'),
        url('../fonts/raleway/raleway-medium.woff') format('woff'),
        url('../fonts/raleway/raleway-medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-regular.eot');
    src: url('../fonts/raleway/raleway-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-regular.woff2') format('woff2'),
        url('../fonts/raleway/raleway-regular.woff') format('woff'),
        url('../fonts/raleway/raleway-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-semibold.eot');
    src: url('../fonts/raleway/raleway-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-semibold.woff2') format('woff2'),
        url('../fonts/raleway/raleway-semibold.woff') format('woff'),
        url('../fonts/raleway/raleway-semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;

}


*,
/*назначает свойство всем*/
::before,
::after,
:active {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a,
a:hover,
a:focus,
a:active,
button,
button:hover,
button:active {
    outline: none;
    text-decoration: none;
}



/* header styles */


.header {
    width: 85%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1%;
    left: 7%;
}

.logo__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 179px;
    color: #fff;
    margin: 0 220px 0 0;
}

.logo__svg {
    fill: #fff;
}

.logo__link:hover .logo__svg {
    fill: #c7b299;
}

.logo__link:hover .logo__title {
    color: #c7b299;
}

.logo__title {
    display: block;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
}

.header__nav-list {
    margin: 0 0 0 0;
    /* пришлось костыль чуть подставить */
    max-width: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.header__nav-item {
    display: block;
    text-align: center;
    font-family: 'montserrat', 'verdana', sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    padding: 10px 0 5px 0;
    margin: 0 30px 0 0;
}

.header__nav-item:hover {
    color: #c7b299;
}

.header__btn-buy,
.header__btn-buy:active {
    fill: #fff;
    height: 27px;
    width: 20px;
    border: none;
    background-color: transparent;
    outline: none;
    display: block;
    margin: 10px 0 0 0;
}

.header__btn-buy:hover {
    fill: #c7b299;
}

.search-icon-form {
    width: 24px;
    height: 24px;
    margin: 13px 0 0 30px;
    position: relative;

}

.search-icon-form__label {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/header/header__search.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;

}



.search-icon-form__input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    left: -200px;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', 'verdana', sans-serif;
    text-transform: capitalize;
}

.search-icon-form__input:focus {
    width: 260px;
    min-height: 20px;
    transition: width 1s ease;
    border-bottom: 2px solid #fff;
}

.menu__toggle {
    display: none;
}

/*section slider */

.slider {
    background-image: url(../img/slider/slider__bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 380px 150px 40px 150px;
}

.slider__arrow {
    width: 40px;
    height: 73px;
    background-repeat: no-repeat;
    margin: 120px 0 0 0;
    fill: #ffffff;
    opacity: 0.6;
}

.slider__arrow:hover {
    opacity: 1;
    fill: #c7b299;
}


.slider__content {
    margin: 0 0 330px 0;
    color: #ffffff;
}

.slider__title {
    display: block;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
}

.slider__subtitle {
    display: block;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
}

.slider__text {
    display: block;
    max-width: 562px;
    word-break: break-all;
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin: 20px 0 52px 0;
}

.slider__btn,
.slider__btn:active {
    min-width: 170px;
    height: 53px;
    background-color: #998675;
    border: none;
    border-radius: 3.0px;
    box-shadow: ;
    font-family: 'Raleway', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

.slider__btn:hover {
    color: #998675;
    background-color: #fff;
}

.slider__pagination-list {
    /*    margin: 0 0 0 0;*/
    /*    list-style: none;*/
    display: flex;
    align-self: flex-end;
    align-items: center;
    /*    padding: 0 0 0 0;*/
    position: absolute;
    left: 47%;
}

.slider__pagination-link {
    display: block;
    outline: none;
    margin: 0 10px 0 0;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider__pagination-link:hover {
    transform: scale(1.2);
    border: 2px solid #d3c1ad;
    background-color: transparent;
    opacity: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* section about */

.about {
    padding: 80px 0 80px 0;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.about__section {
    display: flex;
    width: 267px;
    min-width: 195px;
    min-height: 201px;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 0 34px;
    word-break: break-all;
}

.about__section:first-child {
    margin: 0;
}

.about__section:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

.about__section:hover:after {
    background-color: #c7b299;

}

.about__section:hover .about__svg {
    fill: #c7b299;
}

.about__section:hover .about__title {
    color: #c7b299;

}

.about__svg {
    display: block;
    width: 49px;
    height: 49px;
    fill: #555555;
}

.about__title {
    display: block;
    width: 100%;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
    margin: 30px 0 0 0;

}

.about__text {
    display: block;
    width: 100%;
    word-break: break-all;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
    margin: 19px 0 33px 0;
}

/* section realization */

.realization {
    background-color: #fbfaf8;
    padding: 82px 0 0 0;
    min-height: 628px;
}

.realization__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.realization__title {
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.realization__text {
    max-width: 757px;
    min-width: 500px;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8c8c;
    text-align: center;
    margin: 16px 0 40px 0;
}

.realization__img-list {
    max-width: 1230px;
    background-color: #fbfaf8;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
    max-width: 1230px;

}

.realization__img-list .realization__img:hover {
    z-index: 9999;
}

.realization__img:first-child {
    position: relative;
    z-index: 3;
}

.realization__img:nth-child(2) {
    position: absolute;
    top: 82px;
    left: 0;
    z-index: 2;
}

.realization__img:nth-child(3) {
    position: absolute;
    top: 82px;
    right: 0;
    z-index: 1;
}

/*aside-block*/

.aside-ads {
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-evenly;
    padding: 48px 0 49px 0;
}

.aside__content {
    width: 50%;
    margin: 0 0 0 0;
}

.aside__title {
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #c7b299;
}

.aside__subtitle {
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.aside__text {
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}

/* секция Projects */
.projects {
    width: 100%;
    padding: 80px 0 80px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.projects__title {
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 30px;
    line-height: 1.0;
    font-weight: 600;
    color: #555555;

}

.projects__text {
    display: block;
    width: 41%;
    text-align: center;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 20px 0 40px 0;
    width: 757px;
}



.projects__link {
    display: flex;
    justify-content: space-around;
    margin: 0 0 40px 0;

}

.projects__link-btn {
    text-align: center;
    min-width: 70px;
    display: block;
    border: 1.0px solid #ebebeb;
    border-radius: 3.0px;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    text-transform: capitalize;
    padding: 8px 15px 8px 15px;
    outline: none;
    margin: 0 10px 0 0;
}

.projects__link-btn:hover {
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #ffffff;
    background-color: #998675;
    border-radius: 3.0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.projects-content {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-content__item {
    position: relative;
    margin: 0 2em 2em 0;
}


.projects-content__item:hover .projects-content__subtitle {
    color: #c7b299;

}

.projects-content__item:hover .projects-content__title {
    color: #ffffff;

}

.projects-content__item:hover .projects-content__link {
    display: block;
    fill: #fff;

}

.projects-content__item:hover .projects-content__search {
    display: block;
    fill: #fff;

}

.projects-content__item:hover .projects-content__link:hover {
    fill: #c7b299;
}

.projects-content__item:hover .projects-content__search:hover {
    fill: #c7b299;
}

.projects-content__item:hover .projects-content__img {
    filter: brightness(20%);
}

.projects-content__item:hover .projects-content__wrp {
    background-color: #362f2d;

}

.projects-content__item:hover .projects-content__wrp:before {
    border-bottom: 10px solid #362f2d;

}

.projects-content__img {
    display: block;
}

.projects-content__wrp {
    display: block;
    position: relative;
    background-color: #fbfaf8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 0 27px 28px;
}

.projects-content__wrp:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 20px;
    border: 20px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.projects-content__title {
    display: block;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 20px;
    line-height: 14px;
    font-weight: 500;
    color: #c7b299;
    margin: 0 0 14px 0;
    text-align: left;
}

.projects-content__subtitle {
    display: block;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 10px;
    font-weight: 300;
    color: #d1d1d1;
    text-align: left;
}

.projects-content__link,
.projects-content__search {
    display: none;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 35%
}

.projects-content__link {
    width: 26px;
    height: 26px;
    left: 35%;
}

.projects-content__search {
    width: 26px;
    height: 26px;
    right: 40%;
}

/*секция с видео*/

.video__container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.video__box {
    position: absolute;
    top: 27%;
}

.video__btn {
    border: none;
    background-color: transparent;
    position: relative;
}

.video__btn:hover {
    transform: scale(1.2);
}

.video__btn:active {
    opacity: .3;
}

.video__logo {
    fill: #fff;
    position: relative;
    z-index: 2;
}

.video__btn:after {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    opacity: 0.2;
    position: absolute;
    left: -9px;
    top: -14px;
    width: 100px;
    height: 100px;
    content: '';
    z-index: 1;
}

.video__title {
    display: block;
    width: 100%;
    font-family: 'Raleway', 'verdana'sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin: 45px 0 0 0;
}

.video__text {
    display: block;
    max-width: 555px;
    font-family: 'Montserrat', 'Verdana'sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
}

.video__time {
    display: block;
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
}

.video__media {
    width: 100%;
}

.video__mobile {
    display: none;
}

/*секция с платформой на смартфон*/


.mobile {
    padding: 80px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile__img {
    display: block;
    width: 25%;

}

.mobile__desc {
    max-width: 690px;
}


.mobile__title {
    display: block;
    width: 100%;
    font-family: 'Raleway', 'verdana', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.mobile__text {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 40px 0 45px 30px;
}

.phone {
    display: none;
}

.mobile__list {
    list-style-type: none;
    margin: 0 0 0 100px;
    width: 80%;
}

.mobile__list-item {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    position: relative;

}

.mobile__list-item:before {
    content: '';
    display: inline-block;
    background-image: url("../img/mobile/mobile__arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 21px;
    width: 21px;
    position: absolute;
    top: 6px;
    left: -61px;
}



/*секция статистики*/

.stats {
    display: flex;
    justify-content: center;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    min-height: ;
    padding: 69px 0 60px 0;
}

.stats__block {
    width: 140px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 30px 0 0;
}

.stats__block:after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    display: block;
}

.stats__img {
    display: block;
    fill: #fff;
    background-color: transparent;
    fill: #c7b299;
}

.stats__count {
    display: block;
    width: 100%;
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 48px;
    font-weight: 200;
    color: #ffffff;
    margin: 30px 0 16px 0;
    line-height: 36px;
}

.stats__title {
    display: block;
    width: 100%;
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
    margin: 0px 0 27px 0;
}


/*  секция recent */

.recent {
    padding: 80px 0 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.recent__title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', 'verdana', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.recent__text {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
    word-break: break-all;
    max-width: 757px;
    display: block;
    margin: 30px 0 40px 0;
}

.figure__list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.figure {
    display: block;
    width: 370px;
    position: relative;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 15px 0 15px;
}

.figure__img {
    display: block;
}

.figure__caption {
    padding: 30px 45px 30px 30px;
}

.figure__title {
    font-family: 'Raleway', 'verdana', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
}

.figure__text {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
    display: block;
    word-break: break-all;
    width: 300px;
}

.figure__link {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    display: block;
    text-transform: capitalize;
    width: 100px;
}


.figure__svg {
    fill: #c7b299;
    margin: 0 0 0 10px;
    opacity: 0;
}

.figure__date {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 20px;
}

.figure__day {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 24px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    width: 50px;
    background-color: #363636;
    border-radius: 3px 3px 0 0;
    margin: 0 0 0 0;
    padding: 9px 0 9px 0;
    display: block;
}

.figure__month {
    margin: 0 0 0 0;
    padding: 5px 0 5px 0;
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    width: 50px;
    background-color: #252525;
    border-radius: 0 0 3px 3px;
    display: block;
}

.figure__link:hover .figure__svg {
    opacity: 1;
}


.figure:hover .figure__title {
    color: #c7b299;
}

.figure:hover .figure__text {
    color: #ffffff;
}

.figure:hover .figure__caption {
    background-color: #362f2d;

}

.figure:hover .figure__day {
    background-color: #c7b299;

}

.figure:hover .figure__month {
    background-color: #a48d72;

}

.figure:hover .figure__img {
    filter: brightness(20%);
}


/* partners */

.partners {
    background-image: url(../img/parnters/partners_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 0 100px 0;
}

.partners__link {
    display: block;
    margin: 45px 45px 25px 45px;
}

.partners__img {
    transition-delay: .5s;
    transform: scale(1);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.partners__link:hover .partners__img {
    transform: scale(1.5);
}

/* footer */

.footer {
    background-color: #191919;
    display: flex;
    justify-content: center;
    padding: 80px 0 80px 0;
    flex-wrap: wrap;
}

.footer__item {
    width: 260px;
    margin: 0 15px 0 0;
}

.footer__item .logo__link {
    margin: 0 0 29px 0;
}

.footer__text {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
    display: block;
}

.footer__title {
    font-family: 'Raleway', 'verdana', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    display: block;
    width: 100%;
    margin: 20px 0 30px 0;
}

.footer__link,
.footer__link:active {
    border-bottom: 2px solid #252525;
    display: block;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}

.footer__link:last-child {
    border: none;
}

.footer__link:hover .footer__date {
    color: #ffffff;
}

.footer__link:hover .footer__text {
    color: #c7b299;
}

.footer__date {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
}


.footer__twitter {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #252525;
}

.footer__twitter:last-child {
    border: none;
}

.footer__twitter-link,
.footer__twitter-link:active {
    color: #00bff3;
}

.footer__twitter-link:hover {
    color: #959595;
}

.footer__img-list {
    width: 290px;
    height: 216px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer__img {
    margin: 0 10px 10px 0;
    display: block;
    transform: scale(1);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.footer__img:hover {
    transform: scale(1.2);
    z-index: 9999;

}

.footer__feedback {
    display: flex;
    justify-content: space-evenly;
    padding: 45px 0 50px 0;
    background-color: #111111;
}

.feedback__item {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

.feedback__text,
.feedback__link,
.feedback__link:active {
    color: #252525;
    display: block;
    margin: 0 5px 0 5px;
}

.feedback__link {
    border-right: 1px solid #252525;
    padding: 0 5px 0 5px;
}

.feedback__link:hover {
    color: #c7b299;
}

.feedback__link:last-child {
    border-right: none;
}

.feedback__link-2,
.feedback__link-2:active {
    display: block;
    color: #555555;
    border-right: 1px solid #252525;
    padding: 0 5px 0 5px;
}

.feedback__link-2:hover {
    color: #959595;
}

.feedback__link-2:last-child {
    border-right: none;
}


@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        max-width: 768px;
    }

    /* header */

    .header {
        width: 100%;
        background-image: url(../img/slider/slider__bg.jpg);
        background-size: cover;
        position: relative;
        left: 0;
        top: 0;
        justify-content: flex-start;
    }

    .logo__link {
        position: relative;
        left: 0;
        margin: 3em 0 3em 3em;

    }

    .header__nav-list {
        display: none;
    }

    .header__btn-buy {
        display: none;
    }

    .search-icon-form {
        display: none;
    }


    .menu__toggle {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 4em;
        right: 1em;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }


    .menu__toggle input {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
        z-index: 2;
        opacity: 0;
        -webkit-touch-callout: none;
    }

    .menu__toggle span {
        display: block;
        width: 32px;
        height: 4px;
        z-index: 1;
        border-radius: 4px;
        position: relative;
        background: #fff;
        margin-bottom: 7px;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    .menu__toggle span:first-child {
        transform-origin: 0% 0%;
        transition: width, 0.5s;
    }


    .menu__toggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
        width: 22px;
        transition: width, 0.5s;
    }

    .menu__toggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
        background: #232323;
        width: 36px;
        transition: width, 0.5s;
    }

    .menu__toggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .menu__toggle input:checked ~ span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, 0px);
        width: 36px;
    }

    .burger-menu-elem {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-direction: column;
        padding: 125px 0 0 0;
        width: 100%;
        height: 100vh;
        margin: 0 0 0 0;
        background: #000;
        list-style-type: none;
        transform: translate(0%, -100%);
        transform-origin: 0% -100%%;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        opacity: 0;
    }

    .menu__toggle input:checked ~ nav {
        position: absolute;
        top: -4em;
        left: 15px;
        transform: scale(1.0, 1.0);
        opacity: 0.9;
    }

    .menu__toggle a {
        font-size: 30px;
    }

    /*slider*/

    .slider {
        display: none;
    }

    .slider__btn {
        display: none;

    }

    /*about*/

    .about {
        flex-wrap: wrap;
        padding: 2em 1em 1em 1em;
    }

    .about__section {
        max-width: 45%;
        margin: 1em 0 2em 1em;
    }

    .about__section:first-child {
        margin: 1em 0 2em 1em;
    }

    .realization {
        display: none;
    }

    .slider__btn {
        display: none;
    }

    /*aside*/

    .aside-ads {
        padding: 1em 1em 1em 1em;
        align-items: center;
        justify-content: space-between;
    }

    .aside__content {
        width: 70%;
        margin: 0 0 0 0;
    }

    .aside-ads .slider__btn {
        display: block;
    }

    /*projects*/

    .projects {
        padding: 2em 0 1em 0;
        margin: 0;

    }

    .projects__text {
        max-width: 70%;
    }

    .projects__link {
        flex-wrap: wrap;
    }

    .projects__link-btn {
        margin: 1em 1em 0 0;
    }

    .projects-content {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .projects-content__item {
        margin: 0 0 30px 0;
    }

    .projects .slider__btn {
        display: block;
        margin: 0 0 2em 0;
    }

    /*video*/

    .video__btn:after {
        left: -15px;
        top: -14px;
    }


    .video__mobile {
        display: block;
        width: 100%;
    }

    .video__media {
        display: none;
    }

    /*mobile    */

    .mobile {
        padding: 2em 1em 0 1em;
    }

    .mobile__desc {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .mobile__title {
        text-align: center;
    }

    .mobile__text {}

    .mobile__img {
        display: none;
        width: 45%;
    }


    .phone {
        display: block;

    }

    .mobile__list {
        width: 45%;
    }

    /*stats        */

    .stats {
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1em 1em 2em 1em;
    }

    .stats__block {
        width: 147px;
        margin: 2em 5em 0 2em;
    }

    /*recent*/

    .recent {
        padding: 2em 1em 2em 1em;
    }

    .recent__text {
        width: 70%;
    }

    .figure {
        margin: 1em 1em 0 1em;
    }

    .partners {
        padding: 4em 2em 4em 2em;
        justify-content: center;
    }

    /*partners*/

    .partners__link {
        margin: 30px 30px 30px 30px;
    }

    .partners__img {
        width: 105px;
        height: 50%;
    }

    /*footer       */

    .footer {
        padding: 0 0 0 0;
        flex-wrap: wrap;
    }

    .footer__item {
        margin: 0 1em 0 0;
        width: 40%;
    }

    .footer__item:first-child {
        width: 85%;
        margin: 4em 0 0 0;
        text-align: left;
    }

    .footer .logo__link {
        position: relative;
        left: 35%;
    }

    .footer__item .figure__link {
        position: relative;
        left: 45%;
        margin: 2em 0 0 0;
    }


    .footer__img-list {
        display: none;
    }

    .footer__feedback {
        flex-wrap: wrap;
    }

    .feedback__item {
        width: 100%;
        margin: 3em 0 0 0;
    }
}
