@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-light.eot');
    src: url('../fonts/montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/montserrat-light.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-light.woff') format('woff'),
        url('../fonts/montserrat/montserrat-light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-extralight.eot');
    src: url('../fonts/montserrat/montserrat-extralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/montserrat-extralight.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-extralight.woff') format('woff'),
        url('../fonts/montserrat/montserrat-extralight.ttf');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-bold.eot');
    src: url('../fonts/raleway/raleway-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-bold.woff2') format('woff2'),
        url('../fonts/raleway/raleway-bold.woff') format('woff'),
        url('../fonts/raleway/raleway-bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-extrabold.eot');
    src: url('../fonts/raleway/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-extrabold.woff2') format('woff2'),
        url('../fonts/raleway/raleway-extrabold.woff') format('woff'),
        url('../fonts/raleway/raleway-extrablod.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-medium.eot');
    src: url('../fonts/raleway/raleway-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-medium.woff2') format('woff2'),
        url('../fonts/raleway/raleway-medium.woff') format('woff'),
        url('../fonts/raleway/raleway-medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-regular.eot');
    src: url('../fonts/raleway/raleway-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-regular.woff2') format('woff2'),
        url('../fonts/raleway/raleway-regular.woff') format('woff'),
        url('../fonts/raleway/raleway-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-semibold.eot');
    src: url('../fonts/raleway/raleway-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-semibold.woff2') format('woff2'),
        url('../fonts/raleway/raleway-semibold.woff') format('woff'),
        url('../fonts/raleway/raleway-semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

body {
    width: 1920px;
    margin: 0 auto;
    position: relative;

}

:hover,
:active {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a,
a:hover,
a:focus,
a:active,
button,
button:hover,
button:active {
    outline: none;
}

/* header styles */


.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    left: 376px;
}

.logo__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 179px;
    text-decoration: none;
    color: #fff;
    margin: 0 220px 0 0;
}

.logo__svg {
    fill: #fff;
}

.logo__link:hover .logo__svg {
    fill: #c7b299;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

}

.logo__link:hover .logo__title {
    color: #c7b299;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.logo__title {
    display: block;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
}

.header__nav-list {
    margin: -20px 0 0 0;
    /* пришлось костыль чуть подставить */
    display: flex;
    justify-content: center;
    align-items: center;
}


.header__nav-item {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'montserrat', 'verdana', sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    padding: 20px 0 0 0px;
    margin: 0 30px 0 0;
}

.header__nav-item:hover {
    color: #c7b299;
}

.header__btn-buy {
    fill: #fff;
    height: 27px;
    width: 20px;
    border: none;
    background-color: transparent;
    outline: none;
    display: block;
    margin: 10px 0 0 0;
}

.header__btn-buy:hover,
.header__btn-search:hover {
    fill: #c7b299;
}

.header__btn-search {
    fill: #fff;
    height: 27px;
    width: 20px;
    border: none;
    background-color: transparent;
    outline: none;
    display: block;
    margin: 12px 0 0 28px;
}

/*
.header__main__form__label {
    background-image: url('../img/header_search.svg');
    background-size: cover;
    width: 24px;
    height: 24px;
    display: block;
}
*/
/*  section slider */

.slider {
    background-image: url(../img/slider/slider__bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 380px 150px 40px 150px;
}

.slider__arrow {
    width: 40px;
    height: 73px;
    background-repeat: no-repeat;
    margin: 120px 0 0 0;
    fill: #ffffff;
    opacity: 0.6;
}

.slider__arrow:hover {
    opacity: 1;
    fill: #c7b299;
}


.slider__content {
    margin: 0 0 330px 0;
    color: #ffffff;
}

.slider__title {
    display: block;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
}

.slider__subtitle {
    display: block;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
}

.slider__text {
    display: block;
    max-width: 562px;
    word-break: break-all;
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin: 20px 0 52px 0;
}

.slider__btn,
.slider__btn:active {
    width: 170px;
    height: 53px;
    background-color: #998675;
    border-radius: 3.0px;
    font-family: 'Raleway', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 3.0px;
}

.slider__btn:hover {
    color: #998675;
    background-color: #fff;
}

.slider__pagination-list {
    margin: 0 0 0 0;
    list-style: none;
    display: flex;
    align-self: flex-end;
    align-items: center;
    padding: 0 0 0 0;
    position: absolute;
    left: 909px;
}

.slider__pagination-link {
    display: block;
    outline: none;
    margin: 0 10px 0 0;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider__pagination-link:hover {
    transform: scale(1.2);
    border: 2px solid #d3c1ad;
    background-color: transparent;
    opacity: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* section about */

.about {
    width: 100%;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.about-container {
    display: flex;
    justify-content: center;
    padding: 80px 0 80px 0;
}

.about-container__section {
    display: flex;
    max-width: 265px;
    min-height: 201px;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 30px 0 30px;
    word-break: break-all;
}

.about-container__section:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

.about-container__section:hover:after {
    background-color: #c7b299;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.about-container__section:hover .about-container__svg {
    fill: #c7b299;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.about-container__section:hover .about-container__title {
    color: #c7b299;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.about-container__svg {
    display: block;
    width: 49px;
    height: 49px;
    fill: #555555;
}

.about-container__title {
    display: block;
    width: 100%;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
    margin: 30px 0 0 0;

}

.about-container__text {
    display: block;
    width: 100%;
    word-break: break-all;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
}

.about-realization {
    background-color: #fbfaf8;
    padding: 82px 0 0 0;
    min-height: 638px;
}

.about-realization__section {}

.about-realization__title {
    font-family: 'raleway', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
    display: block;
    margin: 0 0 24px 0;
}

.about-realization__text {
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8c8c;
    display: block;
    width: 737px;
    text-align: center;
    margin: 0 0 40px 583px;
}

.about-realization__block {
    width: 100%;
    background-color: #fbfaf8;
    display: flex;
    justify-content: center;
    position: relative;
}

.about-realization__img:first-child {
    position: absolute;
    top: 0;
    left: 575px;
    z-index: 3;
}

.about-realization__img:nth-child(2) {
    position: absolute;
    top: 82px;
    left: 346px;
    z-index: 2;
}

.about-realization__img:nth-child(3) {
    position: absolute;
    top: 82px;
    left: 806px;
    z-index: 1;
}

.about-footer {
    width: 100%;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-around;
    padding: 48px 0 0 0;
}

.about-footer__content {
    max-width: 550px;
}

.about-footer__title {
    /* Text styles for "Waxom" */
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #c7b299;
}

.about-footer__subtitle {
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.about-footer__text {
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}

.about-footer__btn {
    display: block;
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 3.0px;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

.about-footer__btn:hover {
    color: #998675;
    background-color: #ffffff;
}

/* секция Projects */
.projects {
    padding: 80px 375px 80px 375px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.projects__title {
    text-align: center;
    display: block;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 30px;
    line-height: 1.0;
    font-weight: 600;
    color: #555555;

}

.projects__text {
    display: block;
    text-align: center;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 20px 0 40px 0;
    width: 757px;
}



.projects__link {
    display: flex;
    justify-content: space-around;
    margin: 0 0 40px 0;

}

.projects__link-btn {
    text-align: center;
    min-width: 70px;
    display: block;
    border: 1.0px solid #ebebeb;
    border-radius: 3.0px;
    text-decoration: none;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    text-transform: capitalize;
    padding: 8px 15px 8px 15px;
    outline: none;
    margin: 0 10px 0 0;
}

.projects__link-btn:hover {
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #ffffff;
    background-color: #998675;
    border-radius: 3.0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.projects-content {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-content__item {
    max-width: 370px;
    position: relative;
    margin: 0 0 30px 0;
}

.projects-content__item:hover .projects-content__subtitle {
    color: #c7b299;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.projects-content__item:hover .projects-content__title {
    color: #ffffff;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.projects-content__item:hover .projects-content__link {
    display: block;
    fill: #fff;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.projects-content__item:hover .projects-content__search {
    display: block;
    fill: #fff;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.projects-content__item:hover .projects-content__link:hover {
    filter: brightness(70%);
}

.projects-content__item:hover .projects-content__search:hover {
    filter: brightness(50%);
}

.projects-content__item:hover .projects-content__img {
    filter: brightness(20%);
}

.projects-content__item:hover .projects-content__wrp {
    background-color: #362f2d;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.projects-content__item:hover .projects-content__wrp:before {
    border-bottom: 10px solid #362f2d;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.projects-content__img {
    display: block;
}

.projects-content__wrp {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fbfaf8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 0 27px 28px;
}

.projects-content__wrp:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 20px;
    border: 20px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.projects-content__title {
    display: block;
    font-family: 'raleway', 'verdana', sans-serif;
    font-size: 20px;
    line-height: 14px;
    font-weight: 500;
    color: #c7b299;
    margin: 0 0 14px 0;
    text-align: left;
}

.projects-content__subtitle {
    display: block;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 10px;
    font-weight: 300;
    color: #d1d1d1;
    text-align: left;
}

.projects-content__link,
.projects-content__search {
    display: none;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 45%
}

.projects-content__link {
    background-image: url('../img/link_1.svg');
    width: 26px;
    height: 26px;
    left: 35%;
}

.projects-content__search {
    background-image: url('../img/search_1.svg');
    width: 26px;
    height: 26px;
    right: 35%;
}

/*секция с видео*/

.video__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.video__box {
    padding: 225px 0 0 0;
    position: absolute;

}

.video__btn {
    border: none;
    background-color: transparent;
    margin: 0 0 45px 0;
    position: relative;
}

.video__btn:hover {
    transform: scale(1.2);
}

.video__btn:active {
    opacity: .67;
}

.video__logo {
    fill: #fff;
    position: relative;
    z-index: 2;
}

.video__btn:after {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    opacity: 0.2;
    position: absolute;
    left: -9px;
    top: -14px;
    width: 100px;
    height: 100px;
    content: '';
    z-index: 1;
}

.video__title {
    display: block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin: 45px 0 0 0;
}

.video__text {
    display: block;
    width: 555px;
    font-family: 'Montserrat', 'Verdana'sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
}

.video__time {
    display: block;
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
}

.video__media {}

/*секция с платформой на смартфон*/

.mobile {
    padding: 80px 375px 0 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile__img {
    display: block;
}

.mobile__desc {
    padding: 0 0 0 30px;
    max-width: 657px;

}


.mobile__title {
    font-family: 'Raleway', 'verdana', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.mobile__text {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 40px 0 45px 0;
}

.mobile__list {
    list-style-type: none;
    margin: 0 0 0 100px;
    width: 560px;
}

.mobile__list-item {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    position: relative;

}

.mobile__list-item:before {
    content: '';
    display: inline-block;
    background-image: url("../img/mobile/mobile__arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 21px;
    width: 21px;
    position: absolute;
    top: 6px;
    left: -61px;
}


/*секция статистики*/

.stats {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    min-height: ;
    padding: 69px 0 60px 0;
}

.stats__block {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 30px 0 30px;
}

.stats__block:after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    display: block;
}

.stats__img {
    display: block;
    fill: #fff;
    background-color: transparent;
    fill: #c7b299;
}

.stats__count {
    display: block;
    width: 100%;
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #ffffff;
    margin: 30px 0 21px 0;

}

.stats__title {
    display: block;
    width: 100%;
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
    margin: 0 0 30px 0;
}


/*  секция recent */

.recent {
    padding: 80px 375px 80px 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recent__title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', 'verdana', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.recent__text {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
    word-break: break-all;
    width: 757px;
    display: block;
}

.figure__list {
    display: flex;
    justify-content: center;

}

.figure {
    display: block;
    width: 370px;
    position: relative;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.figure__img {
    display: block;
}

.figure__caption {
    padding: 30px 45px 30px 30px;
}

.figure__title {
    font-family: 'Raleway', 'verdana', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
}

.figure__text {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
    display: block;
    word-break: break-all;
    width: 300px;
}

.figure__link {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    width: 100px;
}


.figure__svg {
    fill: #c7b299;
    margin: 0 0 0 10px;
    opacity: 0;
}

.figure__date {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 20px;
}

.figure__day {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 24px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    width: 50px;
    background-color: #363636;
    border-radius: 3px 3px 0 0;
    margin: 0 0 0 0;
    padding: 9px 0 9px 0;
    display: block;
}

.figure__month {
    margin: 0 0 0 0;
    padding: 5px 0 5px 0;
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    width: 50px;
    background-color: #252525;
    border-radius: 0 0 3px 3px;
    display: block;
}

.figure__link:hover .figure__svg {
    opacity: 1;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}


.figure:hover .figure__title {
    color: #c7b299;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.figure:hover .figure__text {
    color: #ffffff;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.figure:hover .figure__caption {
    background-color: #362f2d;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.figure:hover .figure__day {
    background-color: #c7b299;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.figure:hover .figure__month {
    background-color: #a48d72;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.figure:hover .figure__img {
    filter: brightness(20%);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}


/* partners */

.partners {
    background-image: url(../img/parnters/partners_bg.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 136px 406px 136px 406px;
}

.partners__link {
    text-decoration: none;
    display: block;
}

.partners__link:hover .partners__img {
    transform: scale(1.5);
}

/* footer */

.footer {
    background-color: #191919;

    display: flex;
    justify-content: space-between;
    padding: 80px 375px 80px 375px;
}

.footer__item-list {
    display: flex;
    justify-content: space-between;
    padding: 80px 375px 80px 375px;
}

.footer__item {
    width: 270px;
    word-break: break-all;
}

.footer__item-1 {
    margin: 20px 0 0 0;
}

.footer__item .logo__link {
    margin: 0 0 24px 0;
}

.footer__text {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
    display: block;
}

.footer__link,
.footer__link:active {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
}

.footer__link:hover {
    color: #998675;
}

.footer__title {
    font-family: 'Raleway', 'verdana', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
}

.footer-item__link {
    text-decoration: none;
    border-bottom: 2px solid #252525;
    display: block;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}

.footer__date {
    font-family: 'Montserrat', 'verdana', sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
}


.footer__twitter {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #252525;
}

.footer__twitter-link {
    color: #00bff3;
    text-decoration: none;
}

.img-block {
    width: 270px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 280px;
}

.footer-item__img {
    display: block;
}

.footer-item__img:hover {
    transform: scale(1.5);
}
